<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @patient._id %>
</p>

<p>
  <strong>Age:</strong>
  <%= @patient.age %>
</p>

<p>
  <strong>Plot:</strong>
  <% if @patient.plot.present? %>
    <%= link_to 'Plot PDF', patients_plot_path(@patient), method: :plot %>
  <% else %>
    No plot has been generated
  <% end %>
</p>

<p>
  <strong>Score:</strong>
  <% if @patient.score.present? %>
    <%= link_to 'Score PDF', patients_score_path(@patient), method: :score %>
  <% else %>
    No score has been generated
  <% end %>

</p>

<p>
  <strong>Risk:</strong>
  <% if @patient.risk.present? %>
    <%= link_to 'Risk PDF', patients_risk_path(@patient), method: :risk %>
  <% else %>
    No risk has been generated
  <% end %>

</p>


<h2>Patient Data</h2>
<% if @patient.patient_infos.blank? %>
<p>No Patient Data</p>
<% else %>
<% @patient.patient_infos.order_by(:date => 'asc').each do |info| %>
<p>
  <strong>Type:</strong>
  <%= info.type %>

  <strong>Date:</strong>
  <%= info.date %>
  <% if info.value.present? %>
    <strong>Value:</strong>
    <%= info.value %>
  <% end %>
  <%= link_to 'Delete', patient_patient_info_path(@patient, info), method: :delete, data: { confirm: 'Are you sure?' } %>
</p>
<% end %>
<% end %>

<h2>Add Data</h2>
<%= form_for([@patient, @patient.patient_infos.build]) do |f| %>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.collection_select :type, Type.all, :datatype, :datatype %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_field :date %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</br>

<p>
  <% if @patient.cfile.present? %>
    <%= link_to 'Risk PDF', patients_risk_path(@patient), method: :risk %>
  <% else %>
    <strong>Upload</strong>
    <%= form_tag({action: :upload}, multipart: true) do %>
      <%= file_field_tag 'cfile' %>
      <%= submit_tag "Upload" %>
    <% end %>
  <% end %>
</p>


<h2>Options</h2>
<% if (@patient.patient_infos.blank? == false) %>
  <%= link_to 'Generate Plot', patients_genplot_path(@patient), method: :genplot %> |
  <%= link_to 'Generate Risk', patients_genrisk_path(@patient), method: :genrisk %> |
<% end %>
<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
